
$trang: #fff;
$den: #000000;
$dodo: #c0392b;
$cam: #d35400;
$camnhat: #e67e22;
$vang: #f1c40f;
$vangcam: #f39c12;
$tim: #8e44ad;
$xanhdatroi: #2980b9;
$xanhlacay: #27ae60;
$greensea: #16a085;
.menu{
    position: fixed;
}
.container-left{
    // float: left;
    width: 25%;
    height: 840px;
    position: fixed;
    left: 0;
    top: 100px;
    background-color: #F1F1F1;
    padding: 0 20px;
    overflow: scroll;
    &-wrap{
        &__search{
            background-color: $trang;
            margin: 30px 0;
            input{
                height: 60px;
                margin: 0 !important;
            }
            input:focus{
                border: 1px solid $xanhlacay !important;
            }
        }
        &__menu{
            &-home{
                flex-direction: column;
                a{
                    padding: 20px;
                    background-color: rgba(0, 0, 0, .1);
                    color: black;
                }
                a:hover{
                    color: black;
                    background-color: rgba(0, 0, 0, .2);
                }
                a:not(last-child){
                    border-bottom: 1px solid $trang;
                }
            }
            &-title{
                a{
                    padding: 10px 20px;
                }
            }
        }
    }
    
}
.container-rightt{
    background-color: #fff;
    top: 100px;
    position: absolute;
    right: 0;
    float: right;
    width: 75%;
    // height: 90vh;
    // overflow: scroll;
    // height: 1900px;
    z-index: -2;
    // display: flex;
    
}

.colapse{
    // display: none;
    width: 100%;
    max-height: 0px;

    background-color: black;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    transition: .4s;
    // z-index: 2;
    overflow: hidden;
    color: $trang;
    .item{
        padding: 10px 20px;
        a{
            color: $trang;
            font-size: 16px;
        }
    }
    .btnn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        input{
            // width: 80%;
            height: 40px;
            margin: 0 auto;
            flex-grow: 1;
            border-right: none;
        }
        button{
            width: 60px;
            height: 40px;
            border: none;
        }
    }
}
.title{
    margin-top: 20px;
    h1{
        text-align: center;
    padding: 20px;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 'Arial Narrow Bold', sans-serif;
    }
    p{
        width: 80%;
        margin: 30px auto;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }
}
.chudo{
    color: red;
}
.bocc{
    display: flex;
}
.circle{
    width: 33%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .circle-wrap{
        width: 100%;
        // height: 500px;
        border-radius: 50%;
        object-fit: cover;
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-bottom: 30px;
        img{
            width: 200px;
            height: 200px;
            object-fit: cover;
            animation-name: xoay;
            animation-duration: 70s;
            animation-iteration-count: infinite;
            
        }
    }

    .circle-info{
        width: 80%;
        padding: 30px;
        border: 1px solid rgba(0, 0, 0, .1);
        // height: 400px;
        p{
            margin-top: 20px;
        color: black;
        font-size: 16px;
        text-align: justify;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 7;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        }
        .xemthem{
            text-align: center;
            margin-top: 10px;
            color: red;
        }
    }
    .circle-info:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
@keyframes xoay{
    from{
        transform: rotateX(0);
    }
    to{
        transform: rotateY(360deg);
    }
}
// Danh sách thứ cần học trong khóa học
.accordion {
    background-color: rgba(0, 0, 0, .1);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    outline: none;
    p{
        padding: 10px 0px;
        a{
            color: $den;
        }
    }
    p:hover{
        a{
            color: red;
        }
    }
  }
  @media (max-width:992px){
    .container-rightt{
        width: 100% !important;
    }
    .container-right{
        width: 100% !important;
    }
    .container-left{
        display: none !important;
    }
    .title{
        h1{
            font-size: 30px !important;
        }
    }
  }